#categorie
{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--globale_color_with_opacity);
    margin: 0.8rem 0;
    cursor: pointer;
    padding:1rem ;
    overflow-wrap: anywhere;
    border-left: solid 10px var(--globale-color);

    img 
    {
        width:2.8rem;
        height:2.8rem;
        margin:0 0.9rem 
    }

    h2 
    {
        font-size: 1.7rem;
        color: #242222;
    }

    &.active_categorie
    {
        background-color: #90ee90;
    }
}