@use "removeCard";

.card_container
{
    width: 30rem;
    display: flex;
    margin: 2.3rem;
    background: linear-gradient(145deg, #CACCCF, #FFFFFF);
    box-shadow: 5.41px 5.41px 23px #A3A4A7, -5.41px -5.41px 23px #FFFFFF;

    img 
    {
        width: 15rem;
        height: 15rem;
    }
    .info_card
    {
        display: flex;
        flex-direction: column;
        justify-content:space-between ;
        padding: 0.8rem;
    }
    .info_card p
    {
        font-size: 1.8rem;

        span 
        {
            font-weight: 800;
        }
    }
}

