@use "shopCard";
@use "buy";

#empty_card 
{
    font-size: 3rem;
    text-align: center;
    height: 59vh;
    
}

#panier_content
{
    width:100%;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;

    #article_list
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }

    #action
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        button 
        {
            margin: 1rem;
            padding: 1rem;
            border:none;
            font-size: 1.8rem;
            color: #fff;
            cursor: pointer;
        }

        button#total
        {
            background-color: var(--globale-color);
        }
    }
}