
.article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0.7rem;
    background: linear-gradient(145deg, #CACCCF, #FFFFFF);
    box-shadow: 5.41px 5.41px 23px #A3A4A7, -5.41px -5.41px 23px #FFFFFF;

    &:hover 
    {
        transform: translateY(-3.5px);
    }

    .errorMessage 
    {
        background: #ff6347;
        position: absolute;
        left: 0;
        right: 0;
        height: 0;
        overflow: hidden;
        text-align: center;
        font-size: 1.6rem;
        color: #fdf6f6;
        transition: height 0.4s;

        &.error
        {
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #foot 
    {
        background-color: var(--globale_color_with_opacity);
        border-top-right-radius: 60px;
        overflow: hidden;
        width: 100%;
    }

    #price 
    {
        display: block;
        width: 4rem;
        height: 4rem;
        color: #fff;
        text-align: center;
        line-height: 4rem;
        font-size: 1.4rem;
        padding:0 0.4rem;
        position: absolute;
        right: 0;
        top: 0;
        background-color: var(--globale-color);
        opacity: 0.8;
        &:hover 
        {
            opacity: 1;
        }
    }

    .imgContainer 
    {
        width:100%;
        height:18rem;
        margin:1.4rem 0;

        img 
        {
            width:100%;
            height: 100%;
        }
    }

    .articleInfoContainer
    {
        h3
        {
            text-transform: capitalize;
            font-size: 2rem;
            text-align: center;
            text-decoration: underline;
            text-decoration-style: wavy;
            margin: 1.2rem 0;
        }

        p
        {
            text-transform: capitalize;
            font-size: 2rem;
            text-align: center;
            margin: 1.2rem 0;
        }

        p strong 
        {
            color: #a01d06bd;
        }

        p img
        {
            width: 2rem;
            height: 2rem;
        }
    }

    .formContainer
    {

        form .quantityInfo
        {
            display: flex;
            justify-content: center;
            //align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            
        }
        input
        {
            height: 3rem;
            margin: 1rem 0.9rem;
            padding:0 0.8rem;
        }
        button 
        {
            height: 3rem;
            border:none;
            padding: 0.4rem;
            cursor:pointer;
            flex: 1 1 auto;
            background-color: var(--globale-color);
            opacity: 0.8;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            &:hover 
            {
                opacity: 1;
            }
        }
        button img 
        {
            width:2.5rem;
            height: 2.5rem;
        }
    }
}