#card_slider
{
    margin-bottom: 4rem;
}

.banner{

    width: 30rem;
    height: 30rem;
    background-position: top left ;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner_1
{
    background-image: url(/pictures/banner-1.png);
}

.banner_2
{
    background-image: url(/pictures/banner-2.png);
}