:root 
{

    --globale-color:#2c2fd8fd;
    --globale_color_with_opacity:#2c2fd860;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a 
    {
        text-decoration: none;
    }

    li 
    {
        list-style: none;
    }
}

html 
{
    font-size: 62.5%;
}

#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
