@use "./aside/aside";
@use "./articleList/articleList";

#mainView
{
    width: 100%;
    display: flex;
}

@media screen and (max-width:799px) {

    #mainView
    {
        flex-direction: column;
    }
    
}